*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(160deg, rgb(4, 141, 254) 2%, rgba(192,7,132,1) 98%);
}

.game-container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.674);
}

.alert{
    height: 50px;
    width: 100%;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 0, 247);
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}
.game-title {
    color: #020075;
    margin-bottom: 50px;
}

.buttons-container {
    margin: 50px 0;
}

.game-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.game-button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
}

.result-display {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #007bff;
    text-align: center;
}

/* Keyframes for the change animation */

@keyframes fadeInOut {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

.change {
    animation: fadeInOut 0.2s ease-in-out;
}
